<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<style>
  .testimonial-section{
    position: relative;
  }
  .before-after-section::after{
    position: absolute;
    content: '';
    background-image: url('https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_1.png?v=1745993927');
    background-repeat: no-repeat;
    width: 135px;
    transform: rotate(180deg);
    height: 242px;
    top: -140px;
    bottom: auto;
    left: auto;
    right: 0;
    z-index: 1;
  }
   .testimonial-section h2{
    margin-bottom: 30px;
    font-weight: 800;
    text-align: center;
    max-width: 39%;
    margin-inline: auto;
   }
   .testimonial-section .product-name-rating{
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 20px;
   }
   .testimonial-section .cus-name p{
     display: flex;
     align-items: center;
     gap: 8px;
     font-size: 24px;
     font-family: 'Inter';
     font-weight: 400;
     line-height: 1;
     margin-bottom: 12px;
   }
   .testimonial-section .cus-name {
     padding-left: 25px;
     border-left: 1px solid #00000026;
   }
   .testimonial-section .cus-name .rating{
     font-size: 20px;
     color: #000000BF;
   }
   .testimonial-section .review-title ul li{
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    padding: 4px 6px;
    border: 1px solid #000;
    width: auto;
    display: inline-block;
     margin-right: 8px;
   }
  .testimonial-section .review-title ul{
    margin-bottom: 0;
  }
  .testimonial-section .review-title{
    margin-bottom: 20px;
  }
   .testimonial-section .review-content{
     font-size: 18px;
     color: #000000BF;
     line-height: 140%;
     font-weight: 400;
   }
  .testimonial-section .testimonial-card{
     padding: 15px;
      border: 2px solid #000000;
    box-shadow: 3px 3px 0 0 #000;
        height: 100%;
   }
  .testimonial-section .swiper-slide{
    padding-right: 5px;
    padding-bottom: 5px;
    height: auto;
  }
  .testimonial-section .testimonial-card .testi-info{
    padding: 0 15px 15px;
    margin-top: 20px;
  }
  .testimonial-section .image-container {
        height: 24rem;
        width: auto;
        /* aspect-ratio: 2/1; */
        position: relative;
        overflow: hidden;
    }
     .testimonial-section .slider-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
    .testimonial-section .image-before {
        position: absolute;
        inset: 0;
        width: var(--position);
    }
    .testimonial-section .sliders {
        position: absolute;
        inset: 0;
        cursor: pointer;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    .testimonial-section .sliders:focus-visible~.slider-button {
        outline: 5px solid black;
        outline-offset: 3px;
    }
    .testimonial-section .slider-line {
        position: absolute;
        inset: 0;
        width: .2rem;
        height: 100%;
        background-color: #fff;
        left: var(--position);
        transform: translateX(-50%);
        pointer-events: none;
    }
    .testimonial-section .slider-button {
        position: absolute;
        display: grid;
        place-items: center;
        top: 50%;
        left: var(--position);
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
  @media (max-width: 1440px){
    .testimonial-section::after{
      width: 95px;
      height: 170px;
      background-size: cover;
      top: -70px;
    }
    .testimonial-section .testimonial-card .testi-info{
      padding: 0 10px 10px;
    }
    .testimonial-section .review-title ul li{
      font-size: 16px;
    }
    .testimonial-section .image-container{
      height: 19rem;
    }
    
  }
  @media (max-width: 1279px){
    .testimonial-section h2{
      max-width: 51%;
    }
  }
  @media (max-width: 1024px){
  .testimonial-section .image-container{
      height: 21rem;
    }
  }
  @media (max-width: 768px){
    .testimonial-section h2{
      margin-bottom: 20px;
      max-width: 100%;
    }
    .testimonial-section .review-title ul li{
      font-size: 13px;
      padding: 3px 4px;
      margin-right: 5px;
    }
    .testimonial-section .review-title {
      margin-bottom: 15px;
    }
    .testimonial-section .testimonial-card{
      padding: 10px;
    }
    .testimonial-section .testimonial-image img{
      margin-bottom: 15px;
    }
    .testimonial-section .cus-name p{
      font-size: 18px;
      margin-bottom: 7px;
    }
    .testimonial-section .cus-name p svg{
      width: 24px;
      height: 24px;
    }
    .testimonial-section .cus-name .rating{
      font-size: 14px;
    }
    .testimonial-section .cus-name{
      padding-left: 18px;
    }
    .testimonial-section .product-name-rating{
      gap: 15px;
      margin-bottom: 15px;
    }
    .testimonial-section .product-name-rating img{
      width: 56px;
    }
    .testimonial-section .review-content{
      font-size: 16px;
    }
    .testimonial-section .testimonial-card .testi-info {
      padding: 0 10px 10px;
    }
    .testimonial-section::after {
       display: none;
    }
    .testimonial-section .image-container{
      height: 16rem;
    }
  }
</style>

<div class="testimonial-section before-after-section">
  <div class="page-width">
    <h2 class="text-center">{{ section.settings.heading }}</h2>
    <div class="testimonial-cards swiper">
      <div class=" swiper-wrapper">
        {% for block in section.blocks %}
          <div class=" swiper-slide">
          <div class="testimonial-card border text-center">
            <div class="testimonial-image image-container">
              <img
                src="{{ block.settings.before_image | image_url }}"
                alt="{{ block.settings.name }}"
                class="w-full h-auto object-cover image-before slider-image"
              >
              <img
              src="{{ block.settings.after_image | image_url }}"
              alt="{{ block.settings.name }}"
              class="w-full h-auto object-cover image-after slider-image"
            >
            <input
            type="range"
            min="0"
            max="100"
            value="50"
            aria-label="Percentage of before photo shown"
            class="sliders"
          >
          <div class="slider-line" aria-hidden="true"></div>
          <div class="slider-button" aria-hidden="true">
            <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Group_1171278807.svg?v=1746103827">
          </div>
            </div>
            <div class="testi-info">
              <div class="product-name-rating">
                <img src="{{ block.settings.icon | image_url: width: 82 }}" alt="Icon" class="w-6 h-6">
                <div class="cus-name">
                  <p class="font-bold">
                    {{ block.settings.name }}
                    {% if block.settings.verified %}
                      <svg width="28" height="28" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.8914 15.5307L28.9647 13.2924C28.5964 12.8674 28.2989 12.0741 28.2989 11.5074V9.09905C28.2989 7.59738 27.0664 6.36488 25.5647 6.36488H23.1564C22.6039 6.36488 21.7964 6.06738 21.3714 5.69905L19.1331 3.77238C18.1556 2.93655 16.5547 2.93655 15.5631 3.77238L13.3389 5.71322C12.9139 6.06738 12.1064 6.36488 11.5539 6.36488H9.10306C7.60139 6.36488 6.36889 7.59738 6.36889 9.09905V11.5216C6.36889 12.0741 6.07139 12.8674 5.71723 13.2924L3.80473 15.5449C2.98306 16.5224 2.98306 18.1091 3.80473 19.0866L5.71723 21.3391C6.07139 21.7641 6.36889 22.5574 6.36889 23.1099V25.5324C6.36889 27.0341 7.60139 28.2666 9.10306 28.2666H11.5539C12.1064 28.2666 12.9139 28.5641 13.3389 28.9324L15.5772 30.8591C16.5547 31.6949 18.1556 31.6949 19.1472 30.8591L21.3856 28.9324C21.8106 28.5641 22.6039 28.2666 23.1706 28.2666H25.5789C27.0806 28.2666 28.3131 27.0341 28.3131 25.5324V23.1241C28.3131 22.5716 28.6106 21.7641 28.9789 21.3391L30.9056 19.1007C31.7272 18.1232 31.7272 16.5082 30.8914 15.5307ZM23.2414 14.6382L16.3989 21.4807C16.1997 21.6797 15.9296 21.7915 15.6481 21.7915C15.3665 21.7915 15.0964 21.6797 14.8972 21.4807L11.4689 18.0524C11.0581 17.6416 11.0581 16.9616 11.4689 16.5507C11.8797 16.1399 12.5597 16.1399 12.9706 16.5507L15.6481 19.2282L21.7397 13.1366C22.1506 12.7257 22.8306 12.7257 23.2414 13.1366C23.6522 13.5474 23.6522 14.2274 23.2414 14.6382Z" fill="url(#paint0_linear_1068_309)"/>
                        <defs>
                        <linearGradient id="paint0_linear_1068_309" x1="17.3537" y1="3.14622" x2="17.3537" y2="31.4866" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#138BD7"/>
                        <stop offset="1" stop-color="#62AAFB"/>
                        </linearGradient>
                        </defs>
                      </svg>
                    {% endif %}
                  </p>

                  <div class="rating">⭐ {{ block.settings.rating }} | {{ block.settings.max_rating }}</div>
                </div>
              </div>

              <div class="review-title">{{ block.settings.title }}</div>
              <div class="review-content">{{ block.settings.description }}</div>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination product-pagination"></div>
    </div>
  </div>
</div>

<script>
      var swiper = new Swiper(".before-after-section .swiper", {
        slidesPerView: 3,
        spaceBetween: 25,
        pagination: {
          el: ".swiper-pagination",
        },
        breakpoints: {
          0: {
            slidesPerView: 1,
          },
          991: {
            slidesPerView: 2,
          },
          1440: {
            slidesPerView: 3,
          },
        },
    });
    document.querySelectorAll(".image-container").forEach(container => {
        const slider = container.querySelector(".sliders");
        const beforeImage = container.querySelector(".image-before");
        const sliderLine = container.querySelector(".slider-line");
        const sliderButton = container.querySelector(".slider-button");

        function updateSlider(position) {
            beforeImage.style.width = position;
            sliderLine.style.left = position;
            sliderButton.style.left = position;
        }

        updateSlider("50%");
        slider.value = 50;

        slider.addEventListener("input", (e) => {
            updateSlider(`${e.target.value}%`);
        });
    });
</script>

{% schema %}
{
  "name": "Before-After Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "LOVED BY MANY"
    }
  ],
  "blocks": [
    {
      "type": "Before-After",
      "name": "Before-After",
      "settings": [
        {
          "type": "image_picker",
          "id": "before_image",
          "label": "Before Image"
        },
        {
          "type": "image_picker",
          "id": "after_image",
          "label": "After Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon (e.g. product image)"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Yashvi Patel"
        },
        {
          "type": "checkbox",
          "id": "verified",
          "label": "Verified",
          "default": true
        },
        {
          "type": "text",
          "id": "rating",
          "label": "Rating",
          "default": "4.5"
        },
        {
          "type": "text",
          "id": "max_rating",
          "label": "Max Rating",
          "default": "5"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "My acne cleared up while using the Zit Quit Foundation!"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Before-After Section",
      "category": "Before-After",
      "blocks": [
        {
          "type": "Before-After"
        },
        {
          "type": "Before-After"
        },
        {
          "type": "Before-After"
        }
      ]
    }
  ]
}
{% endschema %}
