<div class="page-con">
<p class="title-policy" style="page-titlee">{{page.title}}</p>

  <div class="a-con desc-con">
    <p class="head">INTRODUCTION</p>
    <div class="sub-head">{{section.settings.guidelines}}</div>
  </div>
   <div class="b-con desc-con">
    <p class="head">USER ACCOUNT, PASSWORD, AND SECURITY</p>
    <div class="sub-head">{{section.settings.ethics}}</div>
  </div>
  <div class="c-con desc-con">
    <p class="head">PRODUCT USE</p>
    <div class="sub-head">{{section.settings.terms}}</div>
  </div>
   <div class="d-con desc-con">
    <p class="head">PRICING AND OFFER INFORMATION</p>
    <div class="sub-head">{{section.settings.privacy}}</div>
  </div>
   <div class="e-con desc-con">
    <p class="head">PAYMENTS</p>
    <div class="sub-head">{{section.settings.choices}}</div>
  </div>
   <div class="f-con desc-con">
    <p class="head">SHIPPING/DELIVERY POLICY</p>
    <div class="sub-head">{{section.settings.contact}}</div>
  </div>
    <div class="g-con desc-con">
    <p class="head">CANCELLATION OF UNUSUAL ORDERS</p>
    <div class="sub-head">{{section.settings.cookie}}</div>
  </div>
   <div class="h-con desc-con">
    <p class="head">NO REFUNDS FOR CANCELATION OF ORDERS</p>
    <div class="sub-head">{{section.settings.advert-policy}}</div>
  </div>
    <div class="i-con desc-con">
    <p class="head">PRIVACY POLICY</p>
    <div class="sub-head">{{section.settings.advert-guidelines}}</div>
  </div>
   <div class="j-con desc-con">
    <p class="head">WHO WE ARE</p>
    <div class="sub-head">ENAARA BEAUTY PRIVATE LIMITED is a company incorporated and registered under the provisions of the Companies Act, 2013 and having its registered office at A-2 UDYOG NAGAR INDUSTRIAL AREA ROHTAK ROAD DELHI New Delhi DL 110041. Enaara Beauty Private Limited is engaged in the business of manufacturing, facilitating the sale of the product manufactured, its marketing and retailing cosmetic and beauty products (“Business”) through its Website developed and owned by Enaara Beauty Private Limited. The products that are being manufactured by Enaara Beauty Private Limited are being sold under the brand name of Type Beauty Inc.
</div>
  </div>
  <div class="k-con desc-con">
    <p class="head">INTELLECTUAL PROPERTY RIGHTS</p>
    <div class="sub-head">The "Type Beauty Inc.", name and logo and all related product, design marks are the trademarks, logos or service marks (hereinafter referred to as "Marks") of Company. Access to this Site does not authorize anyone to use any Marks in any manner. Marks displayed on this Website, whether registered or unregistered, of Company, are the intellectual property, and no one shall be permitted in any manner whatsoever for any unlawful, unauthorized use of the Marks. All the brand names owned and licensed to the Company are exclusive property of the Company, its affiliates, partners or licensors, and is protected by laws of India, including laws governing all applicable forms of Intellectual Property. The Company has the proprietary rights and trade secrets in the products
Company expressly and exclusively reserve all the intellectual property rights in all text, programs, products, processes, technology, content, software and other materials, which appear on this Website, including its looks and feel. The compilation (meaning the collection, arrangement and assembly) of the content on the Website is the exclusive property of Company and are protected by the Indian Copyright Laws and International Treaties. Consequently, the content and materials on this Website shall not be copied, reproduced, duplicated, republished, downloaded, posted, transmitted, distributed or modified in whole or in part or in any other form whatsoever, except for your personal, non-commercial use only. The access to the Website does not authorize anyone to use any trademarks in any manner. The trademarks displayed on the Website whether registered or unregistered, are the intellectual property of the Company.
 
All materials, including images, text, illustrations, designs, icons, photographs, programs, music clips, downloads, video clips and written and other materials that are part of this Website (collectively, the "Contents") are intended solely for personal, non-commercial use. You may download or copy the Contents and other downloadable materials displayed on the Website for your personal use only. We also grant you a limited, revocable, non-transferable, and non-exclusive license to create a hyperlink to the home page of the Website for personal, non-commercial use only. The Contents and software on this Site are to be used only as a shopping resource. Any other use, including the reproduction, modification, distribution, transmission, re-publication, display, or performance, of the Contents on this Site is strictly prohibited.

</div>
  </div>
    <div class="l-con desc-con">
    <p class="head">USE OF WEBSITE</p>
    <div class="sub-head">The Company is not responsible for any damages resulting from use of the Website by anyone. You will not use the Website for any illegal purposes. You will (a) abide by all applicable local, state, national, and international laws and regulations in your use of the Website (including laws regarding Intellectual Property), (b) not interfere with or disrupt the use and enjoyment of the Website by other users, (c) not resell material on the Website, (d) not engage, directly or indirectly, in transmission of “spam”, chain letters, junk mail or any other type of unsolicited communication, and (e) not defame, harass, abuse, or disrupt other users of the Website, (f) not to do or attempt to do any action which is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, paedophilic, libellous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, trolling, propaganda or otherwise unlawful in any manner whatever.

</div>
  </div>
   <div class="m-con desc-con">
    <p class="head">LICENSE</p>
    <div class="sub-head">By using this Website, you are granted a limited, non-exclusive, non-transferable right to use the content and materials on the Website in connection with your personal, non-commercial use of the Website. You may not copy, reproduce, transmit, distribute, or create derivative works of such content or information without express written authorization from the Company.

</div>
  </div>
   <div class="n-con desc-con">
    <p class="head">POSTING</p>
    <div class="sub-head">By posting, storing, or transmitting any content on the Website, you hereby grant the Company a perpetual, worldwide, non-exclusive, royalty-free, assignable, right and license to use, copy, display, perform, create derivative works from, distribute, have distributed, transmit and assign such content in any form, in all media now known or hereinafter created, anywhere in the world, subject to the Company’s privacy policy. The Company does not have the ability to control the nature of the user-generated content offered through the Website. You are solely responsible for your interactions with other users of the Website and any content you post. The Company is not liable for any damage or harm resulting from any posts by or interactions between the users. The Company reserves the right, but has no obligation, to monitor interactions between and among users of the Website and to remove any content the Company deems objectionable. Under no circumstances will the Company be liable in any way for any user generated content, including without limitation, for any errors or omissions in such content or for any loss or damage of any kind incurred by you as a result of the use of any such user generated content transmitted, uploaded, posted, e-mailed or otherwise made available via the Website. You hereby waive all rights to any claims against the Company for any alleged or actual infringements of any proprietary rights, rights of privacy and publicity, moral rights, and rights of attribution in connection with such user generated content.

</div>
  </div>
  <div class="o-con desc-con">
    <p class="head">SITE SECURITY</p>
    <div class="sub-head">You are prohibited from violating or attempting to violate the security of the Website, including, without limitation,
a. accessing data not intended for you or logging onto a server or an account which you are not authorized to access;
b. attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;
c. attempting to interfere with service to any other user, host or network, including, without limitation, via means of submitting a virus to the website, overloading, "flooding," "spamming," "mail bombing" or "crashing";
d. sending unsolicited email, including promotions and/or advertising of products or services; or
e. forging any header or any part of the header information in any email or newsgroup posting. Violations of system or network security may result in civil or criminal liability
f. threatens the unity, integrity, defence, security or sovereignty of India, public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence.

</div>
  </div>
   <div class="p-con desc-con">
    <p class="head">DISCLAIMER OF WARRANTIES</p>
    <div class="sub-head">Your use of the Website and/or Products is at your sole risk. The Website and the Products are offered on an “as available” basis. The Company expressly disclaims all warranties of any kind, whether express or implied.
Without limiting the generality of the foregoing, the Company makes no warranty:
a. that the information provided on this Website is accurate, reliable, complete, or timely;
b. no advice or information, whether oral or written, obtained by you from this Website will create any warranty not expressly stated herein;
c. as to the results that may be obtained from the use of the Products or that defects in the Products will be corrected; and
d. regarding any Products purchased or obtained through the Website.
The Company shall have the right, at any time, to change or discontinue any aspect or feature of the Website, including, but not limited to, content, hours of availability and equipment needed for access or use. Further, the Website may discontinue disseminating any portion of information or category of information. The Company does not accept any responsibility and will not be liable for any loss or damage whatsoever arising out of or in connection with any ability/inability to access or to use the Website.

</div>
  </div>
  <div class="q-con desc-con">
    <p class="head">LIMITATION OF LIABILITY</p>
    <div class="sub-head">The Company takes no liability or exclusive remedy, in law, in equity, or otherwise, with respect to the Website content and Products and/or for any breach of this T&C. The Company will not be liable for any direct, indirect, incidental, special or consequential damages or loss in connection with this T&C or the Products in any manner, including liabilities resulting from (a) the use or the inability to use the Website content or Products or allied services; (b) the cost of procuring substitute the Products or content; (c) any Products purchased or obtained or transactions entered into through the Website; or (d) any lost profits you allege, even if we have been advised of the possibility of such damages and in no event shall our maximum aggregate liability exceed.
You agree that, to the fullest extent permitted by applicable law, the Company will not be responsible or liable (whether in contract, tort (including negligence) or otherwise) under any circumstances for any (a) interruption of business; (b) access delays or access interruptions to the Website; (c) data non-delivery, loss, theft, mis-delivery, corruption, destruction or other modification; (d) loss or damages of any sort incurred as a result of dealings with or the presence of third party Website links on the Website; (e) viruses, system failures or malfunctions which may occur in connection with your use of the Website, including during hyperlink; (f) any inaccuracies or omissions in content; or (g) events beyond the reasonable control of the Company. We make no representations or warranties that defects or errors will be corrected.
This disclaimer constitutes an essential part of this T&C.

</div>
  </div>
   <div class="r-con desc-con">
    <p class="head">INDEMNIFICATION</p>
    <div class="sub-head">You will release, indemnify, defend and hold harmless the Company, and any of its contractors, agents, employees, officers, directors, shareholders, affiliates and assigns from all liabilities, claims, damages, costs and expenses, including reasonable attorney’s fees and expenses, of third parties relating to or arising out of: (a) this T&C or the breach of your warranties, representations and obligations under this T&C; (b) the Website content or your use of the Website content; (c) the Products or your use of the Products (including any trial products); (d) any intellectual property or other proprietary right of any person or entity; (e) your violation of any provision of this T&C; or (f) any information or data you supplied to the Company. When the Company is threatened with suit or sued by a third party, the Company may seek written assurances from you concerning your promise to indemnify the Company; your failure to provide such assurances may be considered by the Company to be a material breach of this T&C. The Company will have the right to participate in any defense by you of a third-party claim related to your use of any of the Website content or Products, with counsel of the Company choice at its expense. The Company will reasonably cooperate in any defense by you of a third-party claim at your request and expense. You will have sole responsibility to defend the Company against any claim, but you must receive the Company prior written consent regarding any related settlement. The terms of this provision will survive any termination or cancellation of this T&C or your use of the Website or the Products.

</div>
  </div>
  <div class="s-con desc-con">
    <p class="head">GOVERNING LAW AND JURISDICTION</p>
    <div class="sub-head">The Terms of Use and the Policies shall be construed in accordance with the applicable laws of India. For proceedings arising therein the Courts at New Delhi shall have exclusive jurisdiction.
Any dispute or difference either in interpretation or otherwise, of the Terms of Use on the Website, between the parties hereto, shall be referred to a sole arbitrator who will be appointed by mutually and his decision shall be final and binding on the parties hereto. The above arbitration shall be in accordance with the Arbitration and Conciliation Act, 1996 as amended from time to time. The seat and venue of arbitration shall be held in New Delhi.

Without any prejudice to particulars listed above, Company shall have the right to seek and obtain any injunctive, provisional or interim relief from any court of competent jurisdiction to protect its trade-mark or other intellectual property rights or confidential information or to preserve the status quo pending arbitration.

For disputes relating to orders outside India, International Arbitration Rules of Indian Arbitration and Conciliation Act 1996 shall apply. The seat and venue of International Arbitration shall be New Delhi.

</div>
  </div>
   <div class="t-con desc-con">
    <p class="head">WAIVER OF CLASS ACTION RIGHTS</p>
    <div class="sub-head">By accepting the T&C, you hereby irrevocably waive any right you may have to join claims with those of other in the form of a class action or similar procedural device, any claims arising out of, relating to, or connection with this T&C must be asserted individually.

</div>
  </div>
   <div class="u-con desc-con">
    <p class="head">TERMINATION</p>
    <div class="sub-head">The Company reserves the right to terminate your access to the Website if it reasonably believes, in its sole discretion, that you have breached any of the terms of this T&C. Following termination, you will not be permitted to use the Website and the Company may, in its sole discretion and without advance notice to you, cancel any outstanding orders for Products. If your access to the Website is terminated, the Company reserves the right to exercise whatever means it deems necessary to prevent the unauthorized access of the Website. This T&C will survive indefinitely, unless and until the Company chooses, in its sole discretion and without advance notice to You, to terminate it.

</div>
  </div>
   <div class="v-con desc-con">
    <p class="head">DOMESTIC USE</p>
    <div class="sub-head">The Company makes no representation that the Website or Products are appropriate or available for use in locations outside India. The users who access the Website from outside India do so at their own risk and initiative and must bear all responsibility for compliance with any applicable local laws.
</div>
  </div>
  <div class="w-con desc-con">
    <p class="head">ASSIGNMENT</p>
    <div class="sub-head">You may not assign your rights and obligations under this T&C to anyone. The Company may assign its rights and obligations under this T&C in its sole discretion and without advance notice to you.
By using this Website or ordering Products from this Website, you agree to be bound by this T&C.

    </div>
  </div>
  <div class="x-con desc-con">
    <p class="head">SURVIVAL</p>
    <div class="sub-head">If any provision or provisions of these T&C shall be held to be invalid, illegal, or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in full force and effect.

    </div>
  </div>
   <div class="y-con desc-con">
    <p class="head">CONTACT INFORMATION</p>
    <div class="sub-head">Please contact us for any questions or comments regarding the Products or the Website.
Customer Service Desk:
Email: customerservice@typebeautyinc.com
Phone Number: 01294269048, 96252 26472
Contact Days: Monday-Friday (From 9:00 Am to 6:00pm)
Grievance officer: The name and contact details of the Grievance Officer to handle any complaints in relation to the sale of Products or use of this Website are provided below:
Email: Customerservice@typebeautyinc.com 
Time: Monday-Friday (From 9:00 Am to 6:00pm)

    </div>
  </div>
  </div>
<style>
 
  .title-policy{
  font-family: Inter;
text-align:center;
    margin-bottom: 39px;
font-weight: 900;
font-size: 40px;
line-height: 154.69%;
/* identical to box height, or 62px */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF3FB5;
  }
  .page-con{
max-width: 1318px;
  margin: auto;
  padding: 0 20px;
  }
  .flexed-contents{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 92px;
  }
  .links-for-scroll{
  font-family: Inter;
margin: 0 27px;
    margin-bottom: 10px;
font-weight: 600;
font-size: 20px;
line-height: 154.69%;
    padding-bottom: 2px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
  }
  .head{
  font-family: Inter;
font-weight: 700;
font-size: 30px;
line-height: 154.69%;
margin-bottom: 9px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FF8F1A;
  }
  .sub-head{
  font-family: Inter;
font-weight: 400;
font-size: 12px;
line-height: 154.69%;
margin: 0;
letter-spacing: 0.05em;

color: #000000;
  }
  .desc-con{
  margin-bottom: 50px;
  
  }
   .oranged{
  color: #FF8F1A!important;
    border-bottom: 2px solid #FF8F1A!important;
     padding-bottom: 0px;
  }
  @media only screen and (max-width: 768px) {
 .links-for-scroll ,.head{
    font-size: 5vw;
  }
    .title-policy{
    font-size: 6vw;
    }
    .sub-head{
     font-size: 3vw;
    }
    
}
</style>
{% schema %}
  {
    "name": "Terms and Policies",
    "settings": [
	{
      "type": "richtext",
      "id": "guidelines",
      "label": "Guidelines"
    },
{
      "type": "richtext",
      "id": "ethics",
      "label": "Ethics Policy"
    },
{
      "type": "richtext",
      "id": "terms",
      "label": "Terms of use"
    },
{
      "type": "richtext",
      "id": "privacy",
      "label": "Privacy policy"
    },
{
      "type": "richtext",
      "id": "choices",
      "label": "Your Choices"
    },
{
      "type": "richtext",
      "id": "contact",
      "label": "Contact Us"
    },
{
      "type": "richtext",
      "id": "cookie",
      "label": "Cookies Policy"
    },
{
      "type": "richtext",
      "id": "advert-policy",
      "label": "Advertising Policy"
    },
{
      "type": "richtext",
      "id": "advert-guidelines",
      "label": "Advertising Guidelines"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
  $( ".links-for-scroll" ).mouseover(function() {
     $( ".links-for-scroll" ).removeClass("oranged");
  $(this).addClass("oranged");
});
  $( ".links-for-scroll" ).mouseout(function() {
    $( ".links-for-scroll" ).removeClass("oranged");
     $(".guidelink").addClass("oranged");
   
});
$(".aa").click(function() {
    $('html,body').animate({
        scrollTop: $(".a-con").offset().top},
        'slow');
});
  $(".bb").click(function() {
    $('html,body').animate({
        scrollTop: $(".b-con").offset().top},
        'slow');
});
    $(".cc").click(function() {
    $('html,body').animate({
        scrollTop: $(".c-con").offset().top},
        'slow');
});
    $(".dd").click(function() {
    $('html,body').animate({
        scrollTop: $(".d-con").offset().top},
        'slow');
});
      $(".ee").click(function() {
    $('html,body').animate({
        scrollTop: $(".e-con").offset().top},
        'slow');
});
    $(".ff").click(function() {
    $('html,body').animate({
        scrollTop: $(".f-con").offset().top},
        'slow');
});
   $(".gg").click(function() {
    $('html,body').animate({
        scrollTop: $(".g-con").offset().top},
        'slow');
});
    $(".hh").click(function() {
    $('html,body').animate({
        scrollTop: $(".h-con").offset().top},
        'slow');
});
   $(".ii").click(function() {
    $('html,body').animate({
        scrollTop: $(".i-con").offset().top},
        'slow');
});
   $(".jj").click(function() {
    $('html,body').animate({
        scrollTop: $(".j-con").offset().top},
        'slow');
});
   $(".kk").click(function() {
    $('html,body').animate({
        scrollTop: $(".k-con").offset().top},
        'slow');
});
   $(".ll").click(function() {
    $('html,body').animate({
        scrollTop: $(".l-con").offset().top},
        'slow');
});
   $(".mm").click(function() {
    $('html,body').animate({
        scrollTop: $(".m-con").offset().top},
        'slow');
});
   $(".nn").click(function() {
    $('html,body').animate({
        scrollTop: $(".n-con").offset().top},
        'slow');
});
   $(".oo").click(function() {
    $('html,body').animate({
        scrollTop: $(".o-con").offset().top},
        'slow');
});
   $(".pp").click(function() {
    $('html,body').animate({
        scrollTop: $(".p-con").offset().top},
        'slow');
});
   $(".qq").click(function() {
    $('html,body').animate({
        scrollTop: $(".q-con").offset().top},
        'slow');
});
   $(".rr").click(function() {
    $('html,body').animate({
        scrollTop: $(".r-con").offset().top},
        'slow');
});
   $(".ss").click(function() {
    $('html,body').animate({
        scrollTop: $(".s-con").offset().top},
        'slow');
});
   $(".tt").click(function() {
    $('html,body').animate({
        scrollTop: $(".t-con").offset().top},
        'slow');
});
   $(".uu").click(function() {
    $('html,body').animate({
        scrollTop: $(".u-con").offset().top},
        'slow');
});
   $(".vv").click(function() {
    $('html,body').animate({
        scrollTop: $(".v-con").offset().top},
        'slow');
});
   $(".ww").click(function() {
    $('html,body').animate({
        scrollTop: $(".w-con").offset().top},
        'slow');
});
   $(".xx").click(function() {
    $('html,body').animate({
        scrollTop: $(".x-con").offset().top},
        'slow');
});
   $(".yy").click(function() {
    $('html,body').animate({
        scrollTop: $(".y-con").offset().top},
        'slow');
});
</script>
