<div class="scrolling-promotion" style="background-color:{{ section.settings.bg_color }}">
  <div style="max-width: 100%!important;overflow-x:hidden!important;">
    <div class="marquee-outer">
      <div class="marquee-text-wrapper1">
        {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
        {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
        {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
        {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
        {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
                {% for block in section.blocks %}
          <p>{{ block.settings.title }}</p>
          <img src="https://cdn.shopify.com/s/files/1/0555/4018/7214/files/Star_8.svg?v=1745572527">
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  .marquee-text-wrapper1{
    display : flex;
    flex-shrink: 0;
    align-items: center;
    animation: slide-left 600s linear infinite;
  }
    @keyframes slide-left {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
    .marquee-text-wrapper1 p{
    font-family: 'Inter';
    margin: 0 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    white-space: pre;
    letter-spacing: -1.1px;
    text-transform: uppercase;
    color: #fff;
    }
   .scrolling-promotion .marquee-outer{
       display:flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      min-width: 100%;
      justify-content: flex-start;
      padding: 17px 0;
    }

    @media only screen and (max-width: 768px) {
      .marquee-text-wrapper1 p {
    font-size: 20px;
    margin: 0 15px;
    letter-spacing: 0.01em;
}
      .scrolling-promotion .marquee-outer{
        padding: 10px 0;
      }
    }
</style>

{% schema %}
  {
    "name": "Scrolling Promotion",
    "class" : "Scrolling-section" ,
    "settings": [
      {
        "id": "bg_color",
        "type": "color",
        "label": "background-color"
      }
    ],
    "blocks": [
{
  "type": "scrolling-text",
  "name": "scrolling-text",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
  ]
}
],
    "presets": [
      {
        "name": "Scrolling Promotion",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
